/*------------------------------------
	Tooltips Position
------------------------------------*/

.chart-tooltip--centered {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}