/*------------------------------------
  Charts Points
------------------------------------*/

.chart__point {
  &--hidden .ct-point {
    opacity: 0;
  }

  &--border {
    &-xxs {
      border-width: .13rem;
    }

    &-xs {
      border-width: .25rem;
    }
  }

  &--has-line-helper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    opacity: 0;
    width: 100%;
    height: 125rem;
    transform: translate(-50%, -50%);
  }

  &--donut {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $white;
  }
}

  [class*="chart__point--border"] {
    border-style: solid;
  }

.chart--points-invisible .ct-point {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.u-point {
  position: relative;
  width: 100%;
  height: 100%;

  .ct-point {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.chart--axis-x--nowrap:hover .chart-tooltip--divided {
  opacity: 1;
}

// IE 11
.ct-series {
  &-a .ct-point,
  &-b .ct-point {
    stroke: $primary;
  }
}