/*------------------------------------
	Forms
------------------------------------*/
.form-check {
  line-height: 1.5;

  .btn-group & {
    & .btn {
      border-radius: 0;
    }

    @if $enable-rounded {
      &:first-of-type .btn {
        border-radius: 2px 0 0 2px;
      }
    }

    @if $enable-rounded {
      &:last-of-type .btn {
        border-radius: 0 2px 2px 0;
      }
    }

    & + .form-check .btn {
      margin-left: -1px;
    }
  }
}


// Check Themes
@each $color, $value in $theme-colors {
  input:checked + .btn-outline-#{$color} {
    @include check($value);
  }
}

// Backgrounds
.checkbox-bg-white::before {
  background-color: $white;
}

input:checked + .btn .form-check-subtext {
  color: $white !important;
}

// Button Outline
.btn-outline {
  &-primary:hover,
  &-secondary:hover,
  &-info:hover,
  &-success:hover,
  &-warning:hover,
  &-danger:hover,
  &-light:hover {
    .form-check-subtext {
      color: #fff !important;
    }
  }
}