/*------------------------------------
  Breadcrumb
------------------------------------*/

.breadcrumb-item {
  font-size: $breadcrumb-font-size;
  color: rgba($gray-500, .5);

  & a {
    color: $gray-500;
  }

  & + &::before {
    font-size: $breadcrumb-divider-font-size;
    font-family: $breadcrumb-divider-font-family;
  }
}