/*------------------------------------
  Position
------------------------------------*/

.position-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-1 {
  left: 1rem;
}

.right-1 {
  right: 1rem;
}